body{
    background-image: url(./images/Element.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
.header{
    height: 92px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0px;
}

.Btn-container{
    display: none;      
}

.logo{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-icon{
    width: 19.3717%;
    height: fit-content;
}

.logo-text{
    font-family: 'Inter';
    color: rgba(79, 156, 249, 1);
    font-weight: 700;
    font-size: 19.64px;
    line-height: 23.77px;
    width: 75.37%;
}

@media screen and (max-width: 1440px){
    
}

@media screen and (max-width: 1152px){
    
}

@media screen and (max-width: 768px){
    body{
        background-position-y: 182px ;
        background-image: url(./images/Element_tab.jpg);
    }

    .header{
        height: 66px;
        padding: 16px 4.167%;
    }
    .logo{
        height: 34px;
        width: 191px;
    }
    .Btn-container{
        display: block;
        width: 42px;
        height: 34px;
    }
    .Btn{
        display: block;
        margin: auto 0;
    }
}

@media screen and (max-width: 320px){
    body{
        background-image: url(./images/Element_rotate.jpg);
    }
    
    .header{
        height: 56px;
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
    }
    .logo{
        height: 24px;
        width: 134px;
    }
    .logo-text{
        font-family: 'Inter';
        color: rgba(79, 156, 249, 1);
        font-weight: 700;
        font-size: 19.64px;
        line-height: 23.77px;
    }
    .Btn-container{
        height: 24px;
        /* margin-right: 30px; */
    }
    /* .Btn{
        display: block;
        margin: auto 0;
    } */
}