 html::-webkit-scrollbar {
    display: none;
  }

*{
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    /* background-image: url(./images/Element.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    padding: 0px;
    margin: 0px;
}

/* Header Section */
.header{
    padding: 16px 11.458%;
    height: 92px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.subheader{
display: flex;
align-items: center;
column-gap: 20px;
}

.text-cnt{
    display: flex;
    align-items: center;
    padding: 0px 12px 0px 0px;
    margin: 0px;
    column-gap: 32px;
}
.htext{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: rgba(79, 156, 249, 1);
    font-family: 'DM sans';
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}
.head-btn{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.btn1-head-1{
font-family: 'Inter';
height: 60px;
width: 126px;
background-color: rgba(255, 228, 146, 1);
border-radius: 8px;
border: none;
color: rgba(4, 56, 115, 1);
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 40px;
box-sizing: border-box;
}

.btn1-head-2{
font-family: 'Inter';
height: 60px;
width: 227px;
background-color: rgba(79, 156, 249, 1);
border-radius: 8px;
border: none;
color: rgba(255, 255, 255, 1);
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
column-gap: 10px;
justify-content: center;
align-items: center;
padding: 16px 24px;
box-sizing: border-box;
}

.Btn-container{
    display: none;      
}

.logo{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-icon{
    width: 19.3717%;
    height: fit-content;
}

.logo-text{
    font-family: 'Inter';
    color: rgba(79, 156, 249, 1);
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    width: 75.37%;
}


/* section 1 */
.section1{
margin: 0px;
width: 100%;
padding: 140px 11.458%;
background-color: transparent;
box-sizing: border-box;
}

.sub1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.sub11{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 34.16667%;
    flex: 1;
}
.sub11-cnt{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.sub11-head{
    color: rgba(79, 156, 249, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}
.sub11-text{
    font-family: 'Inter';
    color: rgba(79, 156, 249, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;    /* // */
}
.sub12{
  background-color: rgba(196, 222, 253, 1);
  flex: 1;
}

.btn1{
font-family: 'Inter';
height: 63px;
width: 219px;
background-color: rgba(79, 156, 249, 1);
border-radius: 8px;
border: none;
color: rgba(255, 255, 255, 1);
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
column-gap: 10px;
justify-content: center;
align-items: center;
}



.super-section2{
margin: 0px;
width: 100%;
padding: 140px 11.458%;
background-color: transparent;
box-sizing: border-box;
display: flex;
flex-direction: column;
row-gap: 100px;
}

/* Section 2 */
.section2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    column-gap: 10px;
}
.sub21{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 34.16667%;
    flex: 1;
}
.sub21-cnt{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.sub21-head{
    color: rgba(33, 37, 41, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}
.sub21-text{
    font-family: 'Inter';
    color: rgba(33, 37, 41, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}
.sub22{
  background-color: rgba(196, 222, 253, 1);
  flex: 1;
  /* flex: 1; */
  /* height: 100%;
  width: 100%; */
}

.btn2{
font-family: 'Inter';
height: 63px;
width: 219px;
background-color: rgba(79, 156, 249, 1);
border-radius: 8px;
border: none;
color: rgba(255, 255, 255, 1);
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
column-gap: 10px;
justify-content: center;
align-items: center;
}


/* Section 3 */
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    column-gap: 100px;
}
.sub31{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 34.16667%;
    flex: 1;
}
.sub31-cnt{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.sub31-head{
    color: rgba(33, 37, 41, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}
.sub31-text{
    font-family: 'Inter';
    color: rgba(33, 37, 41, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}
.sub32{
  width: 47.9729%;
}

.btn3{
font-family: 'Inter';
height: 63px;
width: 219px;
background-color: rgba(79, 156, 249, 1);
border-radius: 8px;
border: none;
color: rgba(255, 255, 255, 1);
font-weight: 500;
font-size: 18px;
line-height: 23px;
display: flex;
column-gap: 10px;
justify-content: center;
align-items: center;
}


/* Section4 */
.section4{
    margin: 0px;
    width: 100%;
    padding: 140px 11.458%;
    background-color: transparent;
    box-sizing: border-box;
    }
    
    .sub4{
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
    }
    .sub41{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        width: 34.16667%;
        flex: 1;
    }
    .sub41-cnt{
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
    .sub41-head{
        color: rgba(33, 37, 41, 1);
        font-family: 'Inter';
        font-weight: 700;
        font-size: 64px;
        line-height: 77.45px;
        margin: 0px;
    }
    .sub41-text{
        font-family: 'Inter';
        color: rgba(33, 37, 41, 1);
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin: 0px;
        height: fit-content;
    }
    .sub42{
      background-color: rgba(196, 222, 253, 1);
      flex: 1;
    }
    
    .btn4{
    font-family: 'Inter';
    height: 63px;
    width: 219px;
    background-color: rgba(79, 156, 249, 1);
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    }
    



/* Section 6 */
.section6{
    background-color: rgba(4, 56, 115, 1);
    margin: 0px;
    width: 100%;
    padding: 140px 11.458%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub6{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
  height: fit-content;
}
.sub61-cnt{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  height: fit-content;
}
.sub61-head{
    color: rgba(255, 255, 255, 1);
        font-family: 'Inter';
        font-weight: 700;
        font-size: 64px;
        line-height: 77.45px;
        margin: 0px;
        height: fit-content;
}
.sub61-text{
    font-family: 'Inter';
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}


/* Section 7  */
.section7{
    margin: 0px;
    width: 100%;
    padding: 140px 11.458%;
    background-color: transparent;
    box-sizing: border-box;
}
.sub7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    column-gap: 100px;
}
.sub71{
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    width: 34.16667%;
    flex: 1;
}
.sub71-cnt{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.sub71-head{
    color: rgba(33, 37, 41, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
}
.sub71-text{
    font-family: 'Inter';
    color: rgba(33, 37, 41, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    height: fit-content;
}
.sub72{
  width: 47.9729%;
}


/* Section 8 */
.section8{
    margin: 0px;
    width: 100%;
    padding: 140px 11.458%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub8{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  height: fit-content;
}
.sub81-head{
    color: rgba(33, 37, 41, 1);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
    margin: 0px;
    text-align: center;
}
.sub82{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

/* ------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 1440px){
    .header{
        padding: 16px 32px;
    }

    /* section 1 */
    .section1{
       padding: 100px 32px; 
    }
    
    
    /* Section 1 and Section 2 */
    .super-section2{
        padding: 140px 32px;
    }

    /* section 4 */
    .section4{
        padding: 100px 32px; 
     }

    /* Section 7  */
    .section7{
        padding: 100px 32px; 
     }
    
    /* Section 8 */
    .section8{
        padding: 140px 32px;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 1152px){
    /* Header */
    .text-cnt{
        display: none;
    }
    .Btn-container{
        display: flex;
        align-items: center;
        width: 42px;
        height: 34px;
    }
    .Btn{
        display: block;
        margin: 0;
    }


    /* section 1 */
    .section1{
        padding: 140px 32px; 
     }

    /* Section 1 and Section 2 */
    .super-section2{
        
    }

    /* section 4 */
    .section4{
        padding: 140px 32px; 
     }

    /* section 7 */
    .section7{
        padding: 140px 32px; 
    }
}


/* ------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 768px){
    body{
        background-position-y: 182px ;
        /* background-image: url(./images/Element_tab.jpg); */
    }

    /* Header Section */
    .header{
        height: 66px;
        padding: 16px 4.167%;
    }
    .logo{
        height: 34px;
        width: 191px;
    }
    .head-btn{
        display: none;
    }


    /* section 1 */
    .section1{
        padding: 140px 2.604%; 
     }
    .sub1{
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }
    .sub11{
        align-items: center;
        flex: none;
        width: 100%;
    }
    .sub11-cnt{
        align-items: center;
        text-align: center;
    }
    .sub11-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .btn1{
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }
    .sub12{
        width: 75.6868%;
        /* height: 367px; */
        aspect-ratio: 1/1;
        flex: none;
    }

    /* Section 1 and Section 2 */
    .super-section2{
        padding: 100px 2.604%; 
    }
    /* Section 2 */
    .section2{
        flex-direction: column;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
    }
    .sub21{
        align-items: center;
        flex: none;
        width: 100%;
    }
    .sub21-cnt{
        align-items: center;
        text-align: center;
    }
    .sub21-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .btn2{
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }
    .sub22{
        width: 75.6868%;
        /* height: 367px; */
        aspect-ratio: 1/1;
        flex: none;
    }
    
    /* Section 3 */
    .section3{
        flex-direction: column-reverse;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
    }
    .sub31{
        align-items: center;
        flex: none;
        width: 100%;
    }
    .sub31-cnt{
        align-items: center;
        text-align: center;
    }
    .sub31-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .btn3{
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }
    .sub32{
        width: 75.6868%;
        /* height: 367px; */
        aspect-ratio: 1/1;
        flex: none;
    }
 
    /* Section 4 */
    .section4{
        padding: 140px 2.604%; 
     }
    .sub4{
        flex-direction: column;
        row-gap: 100px;
        align-items: center;
    }
    .sub41{
        align-items: center;
        flex: none;
        width: 100%;
    }
    .sub41-cnt{
        align-items: center;
        text-align: center;
    }
    .sub41-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .btn4{
        height: 70px;
        width: 232px;
        font-weight: 400;
        line-height: 30px;
    }
    .sub42{
        width: 75.6868%;
        /* height: 367px; */
        aspect-ratio: 1/1;
        flex: none;
    }


    /* Section 6  */
    .sub61-head{
        font-size: 54px;
        line-height: 65.35px;
        /* padding: 0px 12px; */
    }

    /* Section 7 */
    .section7{
        padding: 140px 2.604%; 
     }

     .sub7{
        flex-direction: column-reverse;
        row-gap: 100px;
        column-gap: 0px;
        align-items: center;
    }
    .sub71{
        align-items: center;
        flex: none;
        width: 100%;
    }
    .sub71-cnt{
        align-items: center;
        text-align: center;
    }
    .sub71-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .sub72{
        width: 75.6868%;
        /* height: 367px; */
        aspect-ratio: 1/1;
        flex: none;
    }


    /* Section 8 */
    .section8{
        padding: 140px 20px;
    }
    .sub81-head{
        font-size: 54px;
        line-height: 65.35px;
        padding: 0px 12px;
    }
    .sub82{
        flex-direction: column;
        row-gap: 100px;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 320px){
    body{
        /* background-image: url(./images/Element_rotate.jpg); */
        background-position-y: 0px ;
    }
    
    /* Header Section */
    .header{
        height: 56px;
        padding: 16px;
        width: 100%;
    }
    .logo{
        height: 24px;
        width: 134px;
    }
    .logo-text{
        font-family: 'Inter';
        color: rgba(79, 156, 249, 1);
        font-weight: 700;
        font-size: 19.64px;
        line-height: 23.77px;
    }
    .Btn-container{
        height: 24px;
    }

    /* section 1 */
    .section1{
        padding: 80px 5%;
        /* height: 813px; */
    }
    
    .sub11{
     height: fit-content;     /* // */
    }
    .sub11-cnt{
      height: fit-content;     /* // */
    }
    .sub11-head{
    font-size: 36px;
    line-height: 43.57px;
    }
    /* .sub11-text{
    height: 120px;
    } */
    .sub12{
        width: 100%;
        /* height: 191px; */
    }

    /* Section 1 and Section 2 */
    .super-section2{
        padding: 80px 5%; 
    }

    /* Section2 */
    
    .sub21{
        /* width: 286px; */
        height: fit-content; 
    }
    .sub21-cnt{
        height: fit-content; 
    }
    .sub21-head{
    font-size: 36px;
    line-height: 43.57px;
    }
    /* .sub21-text{
    height: 120px;
    } */
    .sub22{
        width: 100%;
        /* height: 191px; */
    }

    /* Section 3 */
    .sub31{
        /* width: 286px; */
        height: fit-content; 
    }
    .sub31-cnt{
        height: fit-content; 
    }
    .sub31-head{
    font-size: 36px;
    line-height: 43.57px;
    }
    .sub32{
        width: 100%;
    }


    /* Section4 */
    .section4{
        padding: 80px 5%;
    }
    
    .sub41{
        /* width: 286px; */
        height: fit-content; 
    }
    .sub41-cnt{
        height: fit-content; 
    }
    .sub41-head{
    font-size: 36px;
    line-height: 43.57px;
    }
    .sub42{
        width: 100%;
        /* height: 191px; */
    }


    /* Section 6 */
    .sub61-head{
      font-size: 36px;
      line-height: 43.57px;
      }
    
    /* section 7 */
    .section7{
        padding: 80px 5%;
    }
    .sub71{
        /* width: 286px; */
        height: fit-content; 
    }
    .sub71-cnt{
        height: fit-content; 
    }
    .sub71-head{
    font-size: 36px;
    line-height: 43.57px;
    }
    .sub72{
        width: 100%;
    }


    /* Section 8 */
    .section8{
        padding: 80px 16px;
    }
    .sub81-head{
        font-size: 36px;
        line-height: 43.57px;
    }
}